{% extends "layout.html" %}

{% block content %}

    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Users:</h1>
            {% if users %}
            {% for user in users %}
           <dl>
               <dt>User id: {{user.user_id}}</dt>
               <dd>Email: {{user.email}}</dd>
               <dd>Password: {{user.password}}</dd>
           </dl>
            {% endfor %}
            {% else %}
            <h3>There are no users.</h3>
            {% endif %}
        </div>
    </div>

{% endblock %}
